body {
  background-color: #EAEDE1;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#centerbox {
  margin: auto;
  width: 974px;
  background: #FFFFFF;
  border: 1px solid #EAEDE1;
  padding: 10px;
}

#rect1 {
  background: transparent url(/images/rect-green.png);
  height: 30px;
  width: 954px;
  border: 1px solid #EAEDE1;
  margin: 10px 1px 1px 1px;
  padding: 10px;
  font-size: 180%;
  color: #FFFFFF;
  text-align: left;
}
#rect2 {
  background: transparent url(/images/rect-grey.png);
  height: 30px;
  width: 954px;
  border: 1px solid #EAEDE1;
  margin: 1px;
  padding: 10px;
  font-size: 180%;
  color: #FFFFFF;
  text-align: left;
}

#rect3 {
  width: 954px;
  border: 1px solid #EAEDE1;
  margin: 10px 1px;
  padding: 30px 10px;
}

#new-event-button {
  cursor: pointer;
}



#bgPopup {
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  height:100%;  
  width:100%;  
  top:0;  
  left:0;  
  background:#000000;  
  border:1px solid #cecece;  
  z-index:200;  
  -moz-opacity:0.90;
  -khtml-opacity: 0.90;
  opacity: 0.90;
  filter:alpha(opacity=90);
}

#popup {
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  left:400px;
  top:100px;
  height:384px;  
  width:408px;  
  background:#FFFFFF;  
  border:2px solid #183604;  
  z-index:201;  
  padding:12px;  
}

#popupClose {
  line-height:14px;  
  right:6px;  
  top:4px;  
  position:absolute;  
  color:#6fa5fd;  
  display:block;  
  cursor: pointer;
}
