body {
  background-color: #EAEDE1;
  color: #000000;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#centerbox {
  margin: auto;
  width: 974px;
  background: #FFFFFF;
  border: 1px solid #EAEDE1;
  padding: 10px;
}

#rect1 {
  background: transparent url(/images/rect-green.png);
  height: 30px;
  width: 954px;
  border: 1px solid #EAEDE1;
  margin: 10px 1px 1px 1px;
  padding: 10px;
  font-size: 180%;
  color: #FFFFFF;
  text-align: left;
}
#rect2 {
  background: transparent url(/images/rect-grey.png);
  height: 30px;
  width: 954px;
  border: 1px solid #EAEDE1;
  margin: 1px;
  padding: 10px;
  font-size: 180%;
  color: #FFFFFF;
  text-align: left;
}

#rect3 {
  width: 954px;
  border: 1px solid #EAEDE1;
  margin: 10px 1px;
  padding: 30px 10px;
}

/* Popup Divs */
.bgPopup {
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  height:100%;  
  width:100%;  
  top:0;  
  left:0;  
  background:#000000;  
  border:1px solid #cecece;  
  z-index:2000;  
  -moz-opacity:0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
  filter:alpha(opacity=70);
}

.popup {
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  left:400px;
  top:100px;
  background:#FFFFFF;  
  border:2px solid #183604;  
  z-index:2001;  
  padding:12px;  
}

.popupClose {
  line-height:14px;  
  right:6px;  
  top:4px;  
  position:absolute;  
  color:#183604;  
  display:block;  
  cursor: pointer;
}

/* Form on the popup */
.popupform {
margin:0 auto;
width:400px;
padding:14px;
border:solid 2px #284907;
background:#C5CCA3;
text-align: left;
}

/* ----------- stylized ----------- */
.popupform h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.popupform p {
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #284907;
padding-bottom:10px;
}
.popupform label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
.popupform .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
.popupform input[type="text"]{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #284907;
width:200px;
margin:2px 0 20px 10px;
}
.popupform input[type="submit"], .popupform input[type="button"] {
    clear:both;
    margin:0 auto;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.spacer {
clear:both;
height:1px;
}

/*------- Tooltips --------------*/
.tooltip {
    display:none;
    background:transparent url(/images/tooltip/white.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#284907;
    z-index:3000;
}

